.container{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;

}
.card{
    cursor: pointer;
    transition: transform 0.3s ease;
}

.card:hover{
    transform: scale(1.05);
}